@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

.scrollable-hero {
  position: relative;
  width: 100%;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-60%);
  z-index: 1;
  padding: 2rem;
  color: rgb(8, 8, 56);
  max-width: 400px;
  border-radius: 8px;
  text-align: left;
}
.hero__title {
  font-family: "Arial", serif;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: orange;
}

.hero__description {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.hero:nth-child(1) figure {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaHxlbnwwfHwwfHx8MA%3D%3D");
}

.hero:nth-child(2) figure {
  background-image: url("https://images.unsplash.com/photo-1556761175-4b46a572b786");
}

.hero:nth-child(3) figure {
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");
}

.hero:nth-child(4) figure {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGVjaHxlbnwwfHwwfHx8MA%3D%3D");
}

.content {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  z-index: 10;
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}

.content__author:before,
.content__author:after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #a9dfbf;
}

.content__author:before {
  margin-right: 1rem;
}

.content__author:after {
  margin-left: 1rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  margin: 3rem 0;
}

blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #a9dfbf;
  border-radius: 60px;
}
